<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static',filename='assets/img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static',filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/vendor/boxicons/css/boxicons.min.cs') }}" rel="stylesheet">
 
  <!-- Template Main CSS File -->
  <link href="{{ url_for('static',filename='assets/css/style.css') }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{{ url_for('static',filename='assets/img/sdpbrain.png') }}" alt="">
        <span class="d-none d-lg-block">SDP SCP Tools V1.0</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <!-- End Search Bar -->

   <!-- End Notification Nav -->

    <!-- End Messages Nav -->

    <!-- End Icons Navigation -->
    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                  <img src="{{ url_for('static',filename='assets/img/logout2.png') }} " alt="Profile" >
                </a><!-- End Profile Iamge Icon -->
            </li>
        </ul>
    </nav>
  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('index')  }}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <!-- End Components Nav -->

      <!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#sdpconfig-prod" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>SDP_CONFIG</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="sdpconfig-prod" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
            <a href="{{ url_for('SdpConfig')  }}">
              <i class="bi bi-circle"></i><span>SDP PRODUCTION</span>
            </a>
            </li>
            <li>
                <a href="{{ url_for('index')  }}">
                  <i class="bi bi-circle"></i><span>SDP SIT</span>
                </a>
            </li>
        </ul>
      </li><!-- End SDP_PROD_CONFIG -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#scpconfig-prod" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>SCP_CONFIG</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="scpconfig-prod" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{ url_for('scpconfig')  }}">
              <i class="bi bi-circle"></i><span>SCP PRODUCTION</span>
            </a>
            </li>
            <li>
                <a href="{{ url_for('index')  }}">
                  <i class="bi bi-circle"></i><span>SCP SIT</span>
                </a>
            </li>
        </ul>
      </li><!-- End SCP_PROD_CONFIG -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#sdpconfig-sit" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>CDR</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="sdpconfig-sit" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{ url_for('cdrresult')  }}">
              <i class="bi bi-circle"></i><span>PROD</span>
            </a>
            </li>
            <li>
                <a href="{{ url_for('cdrresult')  }}">
                  <i class="bi bi-circle"></i><span>SIT</span>
                </a>
            </li>
        </ul>
      </li><!-- End SDP_SIT_CONFIG -->

      <!-- End Charts Nav -->

      <!-- End Icons Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('trxlog')  }}">
          <i class="bi bi-three-dots"></i>
          <span>CHECK LOG</span>
        </a>
      </li><!-- End CHECK LOG PAGE -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('MtSim')  }}">
          <i class="bi bi-three-dots"></i>
          <span>PUSH_MT_SIMULATOR</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('index')  }}">
          <i class="bi bi-three-dots"></i>
          <span>CONNECT NODE SERVER</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->


    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">
    {% block content %}
    
    {% endblock %}

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->

 <script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  
  <!-- Template Main JS File -->
  <script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>

</body>

</html>