{% extends "baseconfig.html" %}
{% block baseconfig %}
<ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('sdpconfig')  }}" data-bs-toggle="tab" d data-bs-target="#sdc-list">SDC List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('sdpconfig')  }}" data-bs-toggle="tab" d data-bs-target="#cp-config">CP Configuration</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('sdpconfig')  }}" data-bs-toggle="tab" d data-bs-target="#sub-keyword">Keyword</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('sdpconfig')  }}" data-bs-toggle="tab" d data-bs-target="#offer-management">Offer Management</a>
    </li>
  </ul>

  <!--SECTION TAB-->
  <div class="tab-content pt-2">

     <!--TAB SDC LIST-->
    <div class="tab-pane fade pt-3" id="sdc-list">
      <form action="{{ url_for('sdclist') }}" method="post">
      <h5 class="card-title"><center>sdc list</center></h5>
      <div class="row">
        <div class="col-md-3">
            <input type="text" class="form-control" name="cpsdc" placeholder="cp id / shortcode" required>
        </div>
        <div class="col-md-2">
          <select class="form-select form-select-sm" name="conditiontype" aria-label="Small select example" required>
            <option selected></option>
            <option value="cp" >cp id</option>
            <option value="sdc" >shortcode</option>
          </select>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary mb-3">Check</button>
        </div>
      </div>
      </form>
    </div>

    <!--TAB CP CONFIG-->
    <div class="tab-pane fade pt-3" id="cp-config">
      <form action="{{ url_for('cpconfig') }}" method="post">
      <h5 class="card-title"><center> CP Configuration</center></h5>
      <div class="row">
        <div class="col-md-2">
          <input type="text" class="form-control" name="cpid" placeholder="cp id" required>
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-primary mb-3">Check</button>
        </div>
      </form>
      </div>
    </div>

    <!--TAB SUBKEYWORD-->
    <div class="tab-pane fade pt-3" id="sub-keyword">
      <form action="{{ url_for('subkeyword') }}" method="post">
        <h5 class="card-title"><center>sub keyword</center></h5>
        <div class="row">
          <div class="col-md-3">
              <input type="text" class="form-control" id="trxid" placeholder="offercode / keyword" required>
          </div>
          <div class="col-md-2">
            <select class="form-select form-select-sm" aria-label="Small select example" required >
              <option selected></option>
              <option value="offercode">offercode</option>
              <option value="keyword">keyword</option>
            </select>
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary mb-3">Check</button>
          </div>
        </div>
      </form>
    </div>

    <!--TAB OFFER MANAGEMENT-->
    <div class="tab-pane fade pt-3" id="offer-management">
      <form action="{{ url_for('offermanagement') }}" method="post">
        <h5 class="card-title"><center>offer management</center></h5>
          <div class="row">
            <div class="col-md-3">
              <input type="text" class="form-control" id="trxid" placeholder="cp id / offer code" required>
            </div>
            <div class="col-md-2">
              <select class="form-select form-select-sm" aria-label="Small select example" required>
                <option selected></option>
                <option value="1">cp id</option>
                <option value="2">offer</option>
              </select>
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-primary mb-3">Check</button>
            </div>
          </div>
      </form>
    </div>
  
  </div>
{% endblock %}

{% block card %}
<div class="row">
<div class="col-lg-12">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Table</h5>
    </div>
  </div>
</div>
</div>
{% endblock %}