{% extends "basecdr.html" %}
{% block cdr %}
<div class="card-body">
    <h5 class="card-title">CDR's Transaction PROD</h5>
</div>
<form class="ps-5" action="{{ url_for('cdrresult') }}" method="POST">
    <div class="row">
        <div class="col-auto">
            <input type="text" class="form-control" name="msisdn" id="msisdn" placeholder="msisdn" required>
        </div>
        <div class="col-md-3">
            <input type="date" class="form-control" id="date" name="date" placeholder="mm/dd/yyyy" required>
        </div>
        <div class="col-md-2">
            <select class="form-select form-select-sm" name="hour" aria-label="Small select example" equired>
                <option selected>hours</option>
                {% for h in list_hour%}
                <option value="{{ h }}">{{ h }}</option>
                {% endfor %}
              </select>
        </div>
        <div class="col-auto">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="cdrtype" id="flexRadioDefault1" value="sdp" required>
                <label class="form-check-label" for="flexRadioDefault1" >
                  SDP
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="cdrtype" id="flexRadioDefault2" value="scp" required>
                <label class="form-check-label" for="flexRadioDefault2">
                  SCP
                </label>
              </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Check</button>
        </div>
    </div>
</form>

{% endblock %}