{% extends "baseconfig.html" %}
{% block baseconfig %}
<ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('sdpconfig')  }}" data-bs-toggle="tab" d data-bs-target="#sdc-list">SDC List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('sdpconfig')  }}" data-bs-toggle="tab" d data-bs-target="#cp-config">CP Configuration</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('sdpconfig')  }}" data-bs-toggle="tab" d data-bs-target="#sub-keyword">Keyword</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('sdpconfig')  }}" data-bs-toggle="tab" d data-bs-target="#offer-management">Offer Management</a>
    </li>
  </ul>

  <!--SECTION TAB-->
  <div class="tab-content pt-2">

     <!--TAB SDC LIST-->
    <div class="tab-pane fade pt-3" id="sdc-list">
      <form action="{{ url_for('sdclist') }}" method="post">
      <h5 class="card-title"><center>sdc list</center></h5>
      <div class="row">
        <div class="col-md-3">
            <input type="text" class="form-control" name="cpsdc" placeholder="cp id / shortcode" required>
        </div>
        <div class="col-md-2">
          <select class="form-select form-select-sm" name="conditiontype" aria-label="Small select example" required>
            <option selected></option>
            <option value="cp" >cp id</option>
            <option value="sdc" >shortcode</option>
          </select>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary mb-3">Check</button>
        </div>
      </div>
      </form>
    </div>

    <!--TAB CP CONFIG-->
    <div class="tab-pane fade pt-3" id="cp-config">
      <form action="{{ url_for('cpconfig') }}" method="post">
      <h5 class="card-title"><center> CP Configuration</center></h5>
      <div class="row">
        <div class="col-md-2">
          <input type="text" class="form-control" name="cpid" placeholder="cp id" required>
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-primary mb-3">Check</button>
        </div>
      </form>
      </div>
    </div>

    <!--TAB SUBKEYWORD-->
    <div class="tab-pane fade pt-3" id="sub-keyword">
      <form action="{{ url_for('subkeyword') }}" method="post">
        <h5 class="card-title"><center>sub keyword</center></h5>
        <div class="row">
          <div class="col-md-3">
              <input type="text" class="form-control" id="trxid" placeholder="offercode / keyword" required>
          </div>
          <div class="col-md-2">
            <select class="form-select form-select-sm" aria-label="Small select example" required >
              <option selected></option>
              <option value="offercode">offercode</option>
              <option value="keyword">keyword</option>
            </select>
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary mb-3">Check</button>
          </div>
        </div>
      </form>
    </div>

    <!--TAB OFFER MANAGEMENT-->
    <div class="tab-pane fade pt-3" id="offer-management">
      <form action="{{ url_for('offermanagement') }}" method="post">
        <h5 class="card-title"><center>offer management</center></h5>
          <div class="row">
            <div class="col-md-3">
              <input type="text" class="form-control" name="cpoffer" placeholder="cp id / offer code" required>
            </div>
            <div class="col-md-2">
              <select class="form-select form-select-sm" name="filtertype" aria-label="Small select example" required>
                <option selected></option>
                <option value="cp">cp id</option>
                <option value="offer">offer</option>
              </select>
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-primary mb-3">Check</button>
            </div>
          </div>
      </form>
    </div>
  
  </div>
{% endblock %}

{% block card %}
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      {% if flag %}
       <h5 class="card-title">CP CONFIGURATION : CP {{ cpname }}</h5>
       <div class="collapse1">
        <span class ="text-muted small pt-2 ps-1">
         <table class="table table-striped mb-0" style="height: 300px"  data-mdb-perfect-scrollbar="true">
          <span>
          <thead style="background-color: #002d72;">
            <tr>
              <center>
              <th scope="col">CP_NAME</th>
              <th scope="col">CP_ID</th>
              <th scope="col">CONNECTION_NAME</th>
              <th scope="col">SUBSCRIPTION_TYPE</th>
              <th scope="col">CONNECTION_TYPE</th>
              <th scope="col">SYSTEM_ID</th>
              <th scope="col">PASSWORD</th>
              <th scope="col">CONCURRENT</th>
              <th scope="col">TPS</th>
              <th scope="col">STATUS</th>
              <th scope="col">MO_URL_1</th>
              <th scope="col">MO_URL_2</th>
              <th scope="col">DR_URL1</th>
              <th scope="col">DR_URL2</th>
            </center>
            </tr>
          </thead>
          <tbody>
            {% for d in dataraw %}
            <tr>
              <td>{{ d[0] }}</td>
              <td>{{ d[1] }}</td>
              <td>{{ d[2] }}</td>
              <td>{{ d[3] }}</td>
              <td>{{ d[4] }}</td>
              <td>{{ d[5] }}</td>
              <td>{{ d[6] }}</td>
              <td>{{ d[7] }}</td>
              <td>{{ d[8] }}</td>
              <td>{{ d[13] }}</td>
              <td>{{ d[9] }}</td>
              <td>{{ d[10] }}</td>
              <td>{{ d[11] }}</td>
              <td>{{ d[12] }}</td>
            </tr>
            {% endfor %}
          </tbody>
         </span>
         </table>
        </span>
        </div>
      {% else %}
      <table class="table table-striped mb-0" style="height: 300px"  data-mdb-perfect-scrollbar="true">
        <thead style="background-color: #002d72;">
          <tr>
            <center>
            <th scope="col">CP_NAME</th>
            <th scope="col">CP_ID</th>
            <th scope="col">CONNECTION_NAME</th>
            <th scope="col">SUBSCRIPTION_TYPE</th>
            <th scope="col">CONNECTION_TYPE</th>
            <th scope="col">SYSTEM_ID</th>
            <th scope="col">PASSWORD</th>
            <th scope="col">CONCURRENT</th>
            <th scope="col">TPS</th>
            <th scope="col">STATUS</th>
            <th scope="col">MO_URL_1</th>
            <th scope="col">MO_URL_2</th>
            <th scope="col">DR_URL1</th>
            <th scope="col">DR_URL2</th>
          </center>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>DATA NOT FOUND !!!</td>
          </tr>
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}