{% extends "baseapp.html" %}
{% block content %}
<div class="pagetitle">
  <h1>Dashboard</h1>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row">

    <!-- VOICE Card -->
    <div class="col-xxl-4 col-md-4">
      <div class="card info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">VOICE <span>| Today</span></h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-messenger"></i>
              </div>
              <div class="ps-3">
                <h6>{{ voiceattempt }}</h6>
                {% if voicesr >= 99 %}
                 <span class="text-success small pt-1 fw-bold">{{ voicesr }}%</span> 
                {% else %}
                <span class="text-danger small pt-1 fw-bold">{{ voicesr }}%</span> 
                {% endif %} <span class="text-muted small pt-2 ps-1">succes rate</span> 
              </div>
            </div>
        </div>
      </div>
    </div><!-- End VOICE Card -->
    
    <!-- BULK MO Card -->
    <div class="col-xxl-4 col-md-4">
      <div class="card info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">BULK MO<span>| Today</span></h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-bar-chart-line-fill"></i>
              </div>
              <div class="ps-3">
                <h6>{{ bulkmoattempt }}</h6>
                {% if bulkmosr >= 99 %}
                 <span class="text-success small pt-1 fw-bold">{{ bulkmosr }}%</span> 
                {% else %}
                <span class="text-danger small pt-1 fw-bold">{{ bulkmosr }}%</span> 
                {% endif %}  
                <span class="text-muted small pt-2 ps-1">succes rate</span> 
              </div>
            </div>
        </div>
      </div>
    </div><!-- End BULK MO Card -->

    <!-- BULK MT Card -->
    <div class="col-xxl-4 col-md-4">
      <div class="card info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">BULK MT <span>| Today</span></h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-bar-chart"></i>
              </div>
              <div class="ps-3">
                <h6>{{ bulkmtattempt }}</h6>
                {% if bulkmtsr >= 99 %}
                 <span class="text-success small pt-1 fw-bold">{{ bulkmtsr }}%</span> 
                {% else %}
                <span class="text-danger small pt-1 fw-bold">{{ bulkmtsr }}%</span> 
                {% endif %}  <span class="text-muted small pt-2 ps-1">succes rate</span> 
              </div>
            </div>
        </div>
      </div>
    </div><!-- End BULK MT Card -->
    
  </div>

  <div class="row">

    <!-- DIGITAL SERVICE Card -->
    <div class="col-xxl-4 col-md-4">
      <div class="card info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">DIGITAL SERVICE <span>| Today</span></h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-messenger"></i>
              </div>
              <div class="ps-3">
                <h6>{{ digattempt }}</h6>
                {% if digsr >= 99 %}
                 <span class="text-success small pt-1 fw-bold">{{ digsr }}%</span> 
                {% else %}
                <span class="text-danger small pt-1 fw-bold">{{ digsr }}%</span> 
                {% endif %} <span class="text-muted small pt-2 ps-1">succes rate</span> 
              </div>
            </div>
        </div>
      </div>
    </div><!-- End DIGITAL SERVICE Card -->
    
    <!-- SUBSCRIPTION MO Card -->
    <div class="col-xxl-4 col-md-4">
      <div class="card info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">SUBSCRIPTION MO <span>| Today</span></h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-bar-chart-line-fill"></i>
              </div>
              <div class="ps-3">
                <h6>{{ submoattempt }}</h6>
                {% if submosr >= 99 %}
                 <span class="text-success small pt-1 fw-bold">{{ submosr }}%</span> 
                {% else %}
                <span class="text-danger small pt-1 fw-bold">{{ submosr }}%</span> 
                {% endif %} <span class="text-muted small pt-2 ps-1">succes rate</span> 
              </div>
            </div>
        </div>
      </div>
    </div><!-- End SUBSCRIPTION MO Card -->

    <!-- SUBSCRIPTION MT Card -->
    <div class="col-xxl-4 col-md-4">
      <div class="card info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">SUBSCRIPTION MT<span>| Today</span></h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-bar-chart"></i>
              </div>
              <div class="ps-3">
                <h6>{{ submtattempt }}</h6>
                {% if submtsr >= 99 %}
                 <span class="text-success small pt-1 fw-bold">{{ submtsr }}%</span> 
                {% else %}
                <span class="text-danger small pt-1 fw-bold">{{ submtsr }}%</span> 
                {% endif %} <span class="text-muted small pt-2 ps-1">succes rate</span> 
              </div>
            </div>
        </div>
      </div>
    </div><!-- End SUBSCRIPTION MT Card -->
    
    <!-- success rate hourly -->
    <div class="col-12">
      <div class="card">
        <!-- Line Chart -->
        <div id="lineChart">
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart"), {
              series: [{
                name: "voice",
                data: {{ listvoice |tojson }}
              },
              {
                name: "bulk mo",
                data: {{ listbmosr |tojson }}
              },
              {
                name: "bulk mt",
                data: {{ listbmtsr |tojson }}
              },
              {
                name: "digital service",
                data: {{ listdigsr |tojson }}
              },
              {
                name: "Subscription MO",
                data: {{ listsmosr |tojson }}
              },
              {
                name: "Subscription MT",
                data: {{ listsmtsr |tojson }}
              }],
              legend: {
                show: true,
                position: 'bottom'
              },
              markers: {
                size: 2,
              },
              title: {
                text: "Success Rate Hourly",
                align: 'center'
              },
              chart: {
                height: 350,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              stroke: {
                width:3,
                curve: 'smooth'
              },
              grid: {
                row: {
                  colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              },
              yaxis: {
                      title: {
                        text: 'Success Rate (%)'
                      },
                      max:100
                    },
              xaxis: {
                categories: {{ listhour |tojson }},
                title: {
                        text: 'hour'
                      }
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
        </div>
      </div>
      </div>
    </div><!-- End Reports -->


    <!-- success rate hourly -->
    <div class="col-12">
      <div class="card">
        <!-- Line Chart -->
        <div id="lineChart">
        </div>
      </div>
    </div>


  </div>
</section>
{% endblock %}