{% extends "baseapp.html" %}
{% block content %}
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Transaction logs</h5>
    </div>
    <form class="ps-5" action="{{ url_for('cdrresult') }}" method="POST">
      <div class="row">
        <div class="col-md-3">
           <input type="text" class="form-control" name="'trxid" placeholder="Transaction id" required>
        </div>
        <div class="col-md-3">
          <input type="date" class="form-control" name="dates" placeholder="mm/dd/yyyy" required>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="logtype" id="flexRadioDefault1" value="sdp" required>
            <label class="form-check-label" for="flexRadioDefault1" >
              SDP
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="logtype" id="flexRadioDefault2" value="scp" required>
            <label class="form-check-label" for="flexRadioDefault2">
              SCP
            </label>
          </div> 
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary mb-3">Check</button> 
        </div>
        <br>
      </div> 
     </form>
</div>
<!-- Log Result Card -->
<div class="col-xxl-4 col-xl-12">

    <div class="card info-card customers-card">

      <div class="card-body">
        <h5 class="card-title">{{ logtype }} logs <span> | transaction id : {{ trxid }}</span></h5>

        <div class="d-flex align-items-center">
          <div class="ps-3">
            {% if flag %}
            <ul>
              {% for d in data%}
              <li><span class="text-muted small pt-2 ps-1"> {{ d }} </span></li>
              {% endfor %}
            </ul>
            <br><span class="text-muted small pt-2 ps-1">
              <center>====================================  END  ====================================</center>
            </span>
            {% else %}
            <h5 class="card-title">no result</h5>
            {% endif %}
          </div>
        </div>

      </div>
    </div>

  </div><!-- Log Result Card -->
{% endblock %}