{% extends "baseapp.html" %}
{% block content %}
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Transaction logs</h5>
    </div>
    <form class="ps-5" method="POST">
      <div class="row">
        <div class="col-md-3">
          {{ formlog.trxid(class="form-control",placeholder="Transaction id",type="text" ) }}
          <!--<input type="text" class="form-control" id="trxid" placeholder="Transaction id">-->
        </div>
        <div class="col-md-3">
          {{ formlog.dt(class="form-control",placeholder="mm/dd/yyyy",type="date") }} 
          <!--<input type="date" class="form-control" id="trxid" placeholder="mm/dd/yyyy">-->
        </div>
        <div class="col-auto">
          {{ formlog.logtype (class="form-check",type="radio",name="gridRadios") }} 
        </div>
        <div class="col">
            {{ formlog.submit(type="submit",class="btn btn-primary mb-2") }} 
        </div>
        <br>
      </div> 
     </form>
</div>
<!-- Log Result Card -->
<div class="col-xxl-4 col-xl-12">

    <div class="card info-card customers-card">

      <div class="card-body">
        <h5 class="card-title">{{ logtype }} logs <span> | transaction id : {{ trxid }}</span></h5>

        <div class="d-flex align-items-center">
          <div class="ps-3">
            {% if flag %}
            <ul>
              {% for d in data%}
              <li><span class="text-muted small pt-2 ps-1"> {{ d }} </span></li>
              {% endfor %}
            </ul>
            <br><span class="text-muted small pt-2 ps-1">
              <center>====================================  END  ====================================</center>
            </span>
            {% else %}
            <h5 class="card-title">no result</h5>
            {% endif %}
          </div>
        </div>

      </div>
    </div>

  </div><!-- Log Result Card -->
{% endblock %}