{% extends "baseapp.html" %}
{% block content %}
<div class="pagetitle">
    <h1>HTTP CLIENT SIMULATOR</h1>
</div>
<section class="section">

    <!--card HTTP FORM-->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Simulator HTTP Client</h5>
                </div>

                <!-- FORM -->
                <form class="ps-5" action="mtsimulator" method="POST">
                    <div class="row">
                        <div class="col-md-2">        
                            <input type="text" class="form-control" id="trxid" name="msisdn" placeholder="msisdn" value="" required>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" id="trxid" name="shortcode" placeholder="shortcode" value="" required>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" id="trxid" name="systemid" placeholder="systemid" value="" required>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" id="trxid" name="password" placeholder="password" value="" required>
                        </div>
                        <div class="col-md-2">
                            <select class="form-select form-select-sm"  name="env" aria-label="Small select example">
                                <option selected>environment</option>
                                <option value="prod">PROD</option>
                                <option value="sit">SIT</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        
                        <div class="col-md-3">
                            <input type="textarea" class="form-control" id="trxid" name="message" placeholder="message"  style="height: 100px">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary mb-3">Check</button>
                        </div>
                    </div>   
                    <br>
                </form>
        </div>
    </div>


    <!--card log result-->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Test Result </h5>
                    <div class="ps-3">
                        {% if status %}
                        <h7 class="card-title">URI :</h7>
                        <br><span class ="text-muted small pt-2 ps-1">   {{ uri }}</span>
                        <br><br><h7 class="card-title">HTTP RESPOND CODE :</h7>
                        <br><span class ="text-muted small pt-2 ps-1">   {{ http_respon_code }}</span>
                        <br><br><h7 class="card-title">SDP RESPOND :</h7>
                        <br><span class ="text-muted small pt-2 ps-1">   {{ http_respon_text }}</span>
                        {% else %}
                        <br> <span class ="text-muted small pt-2 ps-1">no http result</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}