{% extends "baseapp.html" %}
{% block content %}
<div class="pagetitle">
    <h1>HTTP CLIENT SIMULATOR</h1>
</div>
<section class="section">

    <!--card HTTP FORM-->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Simulator HTTP Client</h5>
                </div>

                <!-- FORM -->
                <form class="ps-5" method="POST">
                    {{ formsim.hidden_tag() }}
                    <div class="row">
                        <div class="col-md-2">
                            {{ formsim.msisdn(class="form-control",placeholder="msisdn",type="text" ) }}
                            <!--<input type="text" class="form-control" id="trxid" placeholder="msisdn">-->
                        </div>
                        <div class="col-md-2">
                            {{ formsim.username(class="form-control",placeholder="systemid",type="text" ) }}
                            <!--<input type="text" class="form-control" id="trxid" placeholder="systemid">-->
                        </div>
                        <div class="col-md-2">
                            {{ formsim.passw(class="form-control",placeholder="password",type="password" ) }}
                            <!--<input type="password" class="form-control" id="trxid" placeholder="password">-->
                        </div>
                        
                        <div class="col-auto">
                            {{ formsim.submit(class="fbtn btn-primary mb-3",type="submit" ) }}
                            <!--<button type="submit" class="btn btn-primary mb-3">Check</button>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            {{ formsim.msg(class="form-control",placeholder="message"  ,style="height: 100px") }}
                            <!--<input type="textarea" class="form-control" id="trxid" placeholder="message"  style="height: 100px">-->
                        </div>
                        <div class="col-md-2">
                            {{ formsim.sdpenv(class="form-control") }}
                            <!--<select class="form-select form-select-sm" aria-label="Small select example">
                                <option selected>environment</option>
                                <option value="1">PROD</option>
                                <option value="2">SIT</option>
                              </select>-->
                        </div>
                    </div>
                    <br>
                </form>
        </div>
    </div>
    <!--card log result-->
    <!--card log result-->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Test Result </h5>
                    <div class="ps-3">
                        {% if flag %}
                        <br><span class="text-muted small pt-2 ps-1"> {{ uri }}</span>
                        {% else %}
                        <h5 class="card-title">no result</h5>
                        {% endif %}
                      </div>
                </div>
            </div>
        </div>
    </div>


</section>

</section>

{% endblock %}